<html>
    <head>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <div ng-app="myApp" ng-init="listar()" ng-controller="myCtrl">
        <h3>{{'{{persona.nombre}}'}} {{'{{persona.apellido}}'}}</h3>
            Nombre: <input type="text" ng-model="persona.nombre"><br>
            Apellido : <input type="text" ng-model="persona.apellido"><br>
            Edad : <input type="number" ng-model="persona.edad"><br>
            <input type="button" ng-click="agregar()" value="Agregar"/>

            <h1>Lista para modificar</h1>
            <div ng-repeat="x in lista" >
                <p>{{'{{x.nombre}}'}} {{'{{x.apellido}}'}}</p>
                <p>Opcion 1 (ng-show)</p>
                <p ng-show="x.edad < 60">Joven</p>
                <p ng-show="x.edad >= 60">Viejo</p>

                <p>Opcion 2 metodo</p>
                <p ng-bind="viegoOjoven(x.edad)"></p>


                <input type="button" ng-click="x.modificar=true" ng-show="!x.modificar"  value="modificar"/>
                <input type="button" ng-click="eliminar(x)" ng-show="!x.modificar" value="borrar"/>


                <div ng-init="x.modificar=false" ng-show="x.modificar" >
                    Nombre: <input type="text" ng-model="x.nombre"><br>
                    Apellido: <input type="text" ng-model="x.apellido"><br>
                    Edad: <input type="number" ng-model="x.edad"><br>
                    <input type="button" ng-click="modificar(x)" value="guardar"/>
                    <input type="button" ng-click="x.modificar=false" ng-show="x.modificar"  value="cancelar"/>
                </div>
            </div>

        </div>

    </body>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  $scope.lista=[]
  $scope.persona = {'nombre':'','apellido':'','edad':''}
  $scope.listar = function(){
    $http.get('listarPersona').then(
        function(response){
            $scope.lista = response.data.lista
        }
    );

    $scope.agregar = function(){
            $http.post('crearPersona',$scope.persona).then(
                function(response){
                    $scope.listar();
                }
            );
        }
    $scope.eliminar = function(persona){
        $http.post('deletePersona',persona).then(
            function(response){
                $scope.listar();
                }
            );
        }

    $scope.modificar = function(persona){
        $http.post('updatePersona',persona).then(
            function(response){
                $scope.listar();
                }
            );
        }

         $scope.viegoOjoven = function(edad){
                if (edad >= 60){
                    return "viejo";
                }
                return "joven";
        }
  }

});
</script>
</html>