<html>
    <head>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <div ng-app="myApp" ng-init="listar()" ng-controller="myCtrl">
        <h3>{{'{{ejemplo.descripcion}}'}}</h3>
            Descripcion: <input type="text" ng-model="ejemplo.descripcion"><br>
            <input type="button" ng-click="agregar()" value="Agregar"/>
            <h1>Lista para modificar</h1>
            <div ng-repeat="x in lista" >
                <p> algo {{'{{x.descripcion}}'}}</p>
                <input type="button" ng-click="x.modificar=true" ng-show="!x.modificar"  value="modificar"/>
                <input type="button" ng-click="eliminar(x)" ng-show="!x.modificar" value="borrar"/>
                <div ng-init="x.modificar=false" ng-show="x.modificar" >
                    Descripcion: <input type="text" ng-model="x.descripcion"><br>
                    <input type="button" ng-click="modificar(x)" value="guardar"/>
                    <input type="button" ng-click="x.modificar=false" ng-show="x.modificar"  value="cancelar"/>
                </div>
            </div>
        </div>
    </body>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  $scope.lista=[]
  $scope.ejemplo = {'descripcion':''}

  $scope.listar = function(){
    $http.get('listarEjemplo').then(
        function(response){
            $scope.lista = response.data.lista
        }
    );

    $scope.agregar = function(){
            $http.post('crearEjemplo',$scope.ejemplo).then(
                function(response){
                    $scope.listar();
                }
            );
        }
    $scope.eliminar = function(ejemplo){
        $http.post('deleteEjemplo',ejemplo).then(
            function(response){
                $scope.listar();
                }
            );
        }

    $scope.modificar = function(ejemplo){
        $http.post('updateEjemplo',ejemplo).then(
            function(response){
                $scope.listar();
                }
            );
        }

         $scope.viegoOjoven = function(edad){
                if (edad >= 60){
                    return "viejo";
                }
                return "joven";
        }
  }

});
</script>
</html>